$bg : #202124;
$text-color : white;
$hover-searchbox-color : #303134;

* {
    background-color: $bg;
    font-family:  arial, sans-serif;
    font-size: 14px;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;

    a {
        padding: 15px;
    }
}

#logo {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;

}

.styledText {
    color: #4487f6;
    font: 16px/16px roboto-regular, arial, sans-serif;
    position: relative;
    right: 60px;
    bottom: 3px;
    white-space: nowrap;

}

a {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: $text-color;
    text-decoration: none;

    .visited {
        color: white;
    }

    &:hover {
        text-decoration: underline;
    }
}

.appbar {
    display: inline-block;
    color: #f28b82;
    font-size: 20px;
    margin: 25px 35px;
    width: 40%;
}

.advancedSearch {
    width:50%;
    input[type="submit"] {
        position:absolute;
        left:39.8%;
        line-height: 100%;
        
        border : none;
        height: 30px;
        width:130px !important;
        margin: 10px 0;
        color : black;
        background-color: #8ab4f8;
        text-align: center;
        &:hover {
            border : 1px solid #2f5bb7 ;
            background: #aecbfa;
        }
    }
}
.doubleInput {
    width:40%;
}

table {
    border: 0;
    padding-left: 40px;
    width: 100%;
    color:white;
    tr {
        line-height: 40px;
        text-align: left;

        td {
            input {
                padding: 1px 8px;
                font-size: 13px;
                color: white;
                border-radius: 1px;
                border: 1px solid grey;
                width: 90%;
                height: 25px;
            }
        }
    }
    
}


#content {
    display: flex;
    height: 36vh;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    position: relative;
    justify-content: center;
}

svg {
    background-color: transparent;
    fill: grey;
}

.magnifyingglass {
    background-color: transparent;
    padding-left: 10px;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.voicerecord {
    background-color: transparent;
    padding-right: 10px;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.submitButtons {
    display: block;
    text-align: -webkit-center;
    padding-top: 18px;

    input[type="submit"] {
        border: 1px solid transparent;
        border-radius: 5px;
        white-space: pre;
        height: 36px;
        line-height: 27px;
        padding: 0 16px;
        cursor: pointer;
        color: white;
        margin: 11px 4px;
        background-color: $hover-searchbox-color;

        &:hover {
            border: 1px solid grey;
        }
    }
}

#searchbox {
    border: 1px solid grey;
    border-radius: 24px;
    min-width: 500px;
    width: 50%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    input {
        background-color: inherit;
        width: 90%;
        font-size: 16px;
        height: 100%;
        margin: 3px;
        color: $text-color;
        outline: none;
        border: none;
    }

    &:hover {
        background-color: $hover-searchbox-color;
        border: 1px solid transparent;

    }
}