* {
    background-color: #202124;
}


.navlinks{
    display:flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content: flex-end;
}

.navlinks a{
    padding:15px;
}

a {
    font-family: arial, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

a .visited {
    color:white;
}

a:hover{
    text-decoration: underline;
}

#content {
    display:flex;
    height:36vh;
    padding-top:20px;
    flex-direction: column;
    align-items:center;
    min-width: fit-content;
    position:relative;
    justify-content: center;
}
svg{
    background-color: inherit;
    fill:#9aa0a6;
}
.magnifyingglass  {
    background-color: inherit;
    padding-left:10px;
    width: 20px;
    height: 20px;
    margin: 3px;
}

.voicerecord {
    width: 14px;
    height: 14px;
}

#searchbox:hover {
    background-color: grey;
}

#searchbox {
    border: 1px solid grey;
    border-radius: 24px;
    min-width: 500px;
    width: 50%;
    min-height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#searchbox input {
    background-color: inherit;
    width: 90%;
    font-size: 16px;
    height: 100%;
    margin: 3px;
    color: white;
    outline: none;
    border: none;
}

